:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --decor-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --hover-color: #FF007066;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --decor-color: #000028;
    --text-color: #F1B2CE;
    --title-color: #DB00FF;
    --accent-color: #FF0070;
    --hover-color: #FF007066;
  }
}