:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --hover-color: #32312D66;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --decor-color: #353430;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --hover-color: #32312D66;
  }

  :root:not(.theme-dark) .header__element {
    display: none;
  }

  :root:not(.theme-dark) .section__title { /* цвет меняется только в светлой теме */
    color: var(--text-color);
  }
}
