.page {
  font-family: var(--main-font, sans-serif);
  font-size: var(--main-font-size);
  background-color: var(--bg-color);
}

/* HEADER */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  block-size: 100vh;
  padding: var(--main-padding);
}

.header__title {
  font-size: var(--clamp-font-size);
  line-height: 0.828em; /* 116px * 0.828 = 96px */
  color: var(--title-color);
  text-shadow: 4px 4px var(--shadow-color);
}

.header__paragraph {
  font-weight: 700;
  color: var(--subtitle-color);
}

/* header-theme-switcher */

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  inline-size: 70px;
  color: var(--nav-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--nav-color);
}

/* header-decor */

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
}

.header__rec {
  position: absolute;
  color: var(--accent-color);
  inset-block-start: 11px;
  inset-inline-end: 38px;
}

.header__rec::before {
  content: '';
  color: var(--accent-color);
}

.header__rec::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 3px var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
  inset-block-start: 7px;
  inset-inline-end: -19px;
}

.title-decor {
  background-color: var(--accent-color);
}

/* MAIN */

.main {
  padding: var(--main-padding);
  padding-block-start: 40px;
}

/* section */

.section:not(:last-of-type) {
  margin-block-end: 50px;
}

.section__article:not(:last-child) {
  margin-block-end: 20px;
}

.section__title {
  font-size: var(--main-font-size);
  line-height: 23.4px;
  color: var(--section-title-color);
  margin-block-end: 20px;
}

.article__title {
  font-size: var(--main-font-size);
  line-height: 23.4px;
  color: var(--subtitle-color);
}

.article__paragraph {
  color: var(--text-color);
  line-height: 23.4px;
  margin-block-start: 10px;
}

.section__subtitle {
  color: var(--subtitle-color);
  font-size: var(--main-font-size);
  margin-block-end: 19px;
}

.article__title_type_light {
  font-weight: 400;
}

/* link */

.article__link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.article__link:hover {
  border-block-end: 1px solid currentColor;
}

.article__link:focus {
  outline: none;
}

.article__link:focus-visible {
  outline: 1px solid var(--accent-color);
}

/* gallery */

.gallery__title {
  color: var(--subtitle-color);
  font-size: var(--main-font-size);
  margin-block-end: 10px;
}

.gallery-container {
  display: grid;
  gap: 10px;
}

.gallery__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

/* FOOTER */

.footer {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  margin-block-start: 31px;
}

.footer__title {
  font-size: var(--clamp-font-size);
  color: var(--title-color);
  text-shadow: 2px 2px var(--footer-shadow-color);
}

@media (width >= 768px) {

  /* header */

  .header__title {
    justify-self: start;
    margin-inline-start: -20px;
  }

  .header__paragraph {
    inline-size: 50%;
  }

  .decorated-zone::after {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::before {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__rec {
    inset-block-start: 21px;
    inset-inline-end: 49px;
  }

  /* main */

  .main {
    padding-block-start: 60px;
  }

  .section:not(:last-of-type) {
    margin-block-end: 80px;
  }

  .section__title {
    inline-size: 230px;
  }

  .section__grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .gallery__title {
    margin-block-end: 20px;
  }

  .gallery-container {
    gap: 20px;
  }

  .gallery__image-sunset {
    grid-column: span 2;
  }

  .gallery__image-street {
    grid-column: span 2;
  }

  .gallery__image-ice-cream {
    grid-column: 3;
    grid-row: span 2;
  }

  .gallery__image-tape {
    grid-column: 1;
    grid-row: span 2;
  }

  /* footer */

  .footer {
    margin-block-start: 40px;
  }
}

@media (width >= 1024px) {

  /* header */
  
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
  }

  /* main */

  .section__title {
    inline-size: 314px;
    margin-bottom: 20px;
  }

  .section__grid-wrapper {
    column-gap: 10px;
  }

  .section__row-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}