:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --subtitle-color: #000028;
  --nav-color: #FF0070;
  --section-title-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.4); 
  --footer-shadow-color: #FF0070;

  --main-font: 'IBM Plex mono';
  --main-font-size: 18px;
  --clamp-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-padding: 10px;
}

@media (min-width: 768px) {
  :root {
    --clamp-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --main-padding: 20px;
  }
}